*{
	margin: 0%;
	padding: 0%;
	color: aliceblue;
}

html{
  font-size: 50%;
	overflow: hidden;
}
.form{
	/* height: 100vh; */
	width: 100vw;
	backdrop-filter: blur(5px);
	display: flex;
	justify-content: center;
	position: absolute;
	z-index: 100;
	top: 15%;
	/* align-items: center; */
}

.form form {
	padding: 3rem 5rem;
	display: flex;
	flex-direction: column;
	box-shadow: -0.7rem 0.7rem 1.5rem #1a1a1a;
	border-radius: 0.75rem;
	background: #474545;
}

.form form h1{
	text-align: center;
	font-size: 3.5rem;
}

.form form h3{
	font-size:2rem;
	margin-top: 1.5rem;
}

.form form h3 a{
	color: red;
}
input{
	padding: .8rem 0rem;
	border-radius: 1rem;
	color: #1a1a1a;
}
.form form input[type="text"],[type="password"],[type="email"]{
	border-bottom: 0.05rem solid #000;
}

.form form input[type="submit"]{
	margin-top: 1.5rem;
	padding: 0.5rem 0;
	border-radius: 0.5rem;
	border: 0.05rem solid #000;
}

.form .pass {
	position: relative;
}

.form .pass i{
	position: absolute;
	right: 0;
	top: 0.25rem;
	font-size: 1.5rem;
}
.form #sub{
	height: 4rem;
	margin-top: 2rem;
	margin-left: 9rem;
	width: 10rem;
	border-radius: 2rem;
	color: #1a1a1a;
	border: none;
}
.form #sub:hover{background:none;
border: 2px solid #fff;}