*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Tektur', cursive;
	border: none;
	text-decoration: none;
	outline: none;
	background-color: transparent;
	color: #1a1a1a;
}

:root{
	--fs: 1.75rem;
}

html{
  font-size: 50%;
	overflow: hidden;
}


.video video{
	position: absolute;
	z-index: -3;
	min-width: 100%;
	min-height: 100vh;
}

.form{
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.form form {
	padding: 3rem 5rem;
	display: flex;
	flex-direction: column;
	box-shadow: -0.7rem 0.7rem 1.5rem #1a1a1a;
	border-radius: 0.75rem;
	background: linear-gradient(to right, rgba(255,255,255,0), #c0c0c0);
}

.form form h1{
	text-align: center;
	font-size: 3.5rem;
}

.form form h3{
	font-size: var(--fs);
	margin-top: 1.5rem;
}

.form form h3 a{
	color: red;
}

.form form input[type="text"],[type="password"],[type="email"]{
	border-bottom: 0.05rem solid #000;
}

.form form input[type="submit"]{
	margin-top: 1.5rem;
	padding: 0.5rem 0;
	border-radius: 0.5rem;
	border: 0.05rem solid #000;
}

.form .pass {
	position: relative;
}

.form .pass i{
	position: absolute;
	right: 0;
	top: 0.25rem;
	font-size: 1.5rem;
}